<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">

  <!-- Config here. -->

  <welcome-file-list>
    <welcome-file>FrontControllerServlet</welcome-file>
  </welcome-file-list>
  <!-- <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/JSP/erreur.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/JSP/erreur.jsp</location>
  </error-page> -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/JSP/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>

